<%= link_to 'Generate New Pairs', show_weekly_pairs_team_path(@team), class: 'btn' %>
<ul>
<% @pairs.each do |pair| %>
  <li>
    <% pair.each do |person| %>
      <%= person.email %>,
    <% end %>
  </li>
<% end %>
</ul>