<div class='row people'>
  <% #present @people do |person| %>

  <% #end %>
  <ul>
  <% PeoplePresenter.new(@people, self).person_presenters.each do |person| %>
    <li><%= person.name %>, <%= person.email %></li>
  <% end %>
  </ul>
</div>