<div class='row'>
  <% #present @people do |person| %>

  <% #end %>
  <ul>
  <% PeoplePresenter.new(@people, self).person_presenters.each do |person| %>
    <li><%= person.name %>, <%= person.email %>, <%= link_to 'Delete Person', person_path(person.object), method: 'DELETE' %></li>
  <% end %>
  </ul>
</div>