<div class='row people'>
  <h3>Everyone</h3>
  <ul>
  <% PeoplePresenter.new(@people, self).person_presenters.each do |person| %>
    <li><%= person.name %>, <%= person.email %></li>
  <% end %>
  </ul>
</div>