div.team-members h3{
  margin-bottom: 0px;
}

div.new-member-form {
  margin-top: 15px;
}

div.new-member-form form {
  margin-bottom: 10px;
}

div.team-members-show h4 {
  margin-top: 20px;
}

ul {
  margin-left: 0;
}

ul div {
  margin-left: 0;
  margin-bottom: 5px;
}