<nav>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      </button>
      <a class="brand" href="/">BuddyUp</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><%= link_to 'Home', root_path %></li>
          <li class><%= link_to 'Everyone', people_path %></li>
          <li class><%= link_to 'New Team', new_team_path %></li>
          <li class><%= link_to 'New Person', new_person_path %></li>
          <li><a href="#about">About</a></li>
          <li><a href="#">Placeholder</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</nav>